html,
body {
  min-height: 100%;
}

body {
  /* font-family: 'Fira Sans', sans-serif; */
  font-size: 18px;
  text-align: center;
  /*
  background-repeat: no-repeat;
  background: #a740ff;
  background: -moz-linear-gradient(top, #a740ff 0%, #a740ff 30%, #577bf6 100%);
  background: -webkit-linear-gradient(top, #a740ff 0%,#a740ff 30%, #577bf6 100%);
  background: linear-gradient(to bottom, #a740ff 0%,#a740ff 30%, #577bf6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a740ff', endColorstr='#577bf6',GradientType=0 );
  */
}

.header {
  padding: 30px;
  /* background: #577bf6;
  background: -moz-linear-gradient(top, #577bf6 0%, #577bf6 60%, #a740ff 100%);
  background: -webkit-linear-gradient(top, #577bf6 0%,#577bf6 60%, #a740ff 100%);
  background: linear-gradient(to bottom, #577bf6 0%,#577bf6 60%, #a740ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#577bf6', endColorstr='#a740ff',GradientType=0 ); */
}

.app {
  margin: 30px 0;
  /* box-shadow: 5px 5px 5px rgba(0,0,40px,10px,0.1); */
}

a {
  /* color: #a740ff; */
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus,
a:active {
  /* color: #577bf6; */
  text-decoration: none;
}

.songs a {
  color: #333;
}

.songs a:hover,
.songs a:focus,
.songs a:active {
  /* color: #a740ff; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Fira Sans', sans-serif; */
  font-weight: 900;
}

h1 {
  padding: 40px 0;
  font-size: 48px;
  color: #fff;
}

img {
  max-width: 100%;
}

.track a {
  padding: 20px 30px;
  display: inline-block;
  margin: 20px 0 0;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  /* transition: all 0.5s ease-in-out;
  background: #577bf6;
  background: -moz-linear-gradient(left, #577bf6 0%,  #a740ff 100%);
  background: -webkit-linear-gradient(left, #577bf6 0%, #a740ff 100%);
  background: linear-gradient(to right, #577bf6 0%, #a740ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#577bf6', endColorstr='#a740ff',GradientType=0 ); */
}

.track a:hover,
.track a:focus,
.track a:active {
  /* background: #a740ff;
  background: -moz-linear-gradient(left, #a740ff 0%,  #577bf6 100%);
  background: -webkit-linear-gradient(left, #a740ff 0%, #577bf6 100%);
  background: linear-gradient(to right, #a740ff 0%, #577bf6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a740ff', endColorstr='#577bf6',GradientType=0 ); */
}

select {
  width: 70%;
  margin-bottom: 50px;
  padding: 15px;
  font-size: 22px;
  /* -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none; */
  background-color: #fff;
  outline: none;
  cursor: pointer;
}

audio {
  width: 100%;
}

.songs {
  text-align: left;
  transition: all 0.5s ease-in-out;
  line-height: 1.7;
}

.song:nth-child(even) {
  /* background: #91a3fb; */
}

.song {
  padding: 5px 10px;
  /* background: #afbdfe; */
  display: flex;
}

.song-number {
  flex: 0 0 100px;
}

.song-title {
  flex: 1 1 auto;
  min-width: 0;
}

.song-view {
  flex: 0 0 150px;
}

.song-play {
  flex: 0 0 100px;
  font-size: 2em;
}

.song-number,
.song-title,
.song-view,
.song-play {
  display: flex;
  align-items: center;
}

.song-number,
.song-view,
.song-play {
  justify-content: center;
}

@media (max-width: 700px) {
  .song {
    flex-flow: wrap;
  }
  .song-number {
    display: none;
  }
  .song-title {
    padding: 10px 20px;
    flex: 1 1 100%;
    order: 0;
  }
  .song-view,
  .song-play {
    flex: 1;
  }
  .song-view {
    justify-content: flex-start;
    text-align: left;
    order: 1;
    padding: 0 20px 10px;
  }
  .song-view a {
    border-bottom: 2px solid #333;
  }

  .song-view a:hover,
  .song-view a:active,
  .song-view a:focus {
    /* border-color: #a740ff; */
  }


  .song-play {
    order: 2;
    justify-content: flex-end;
    padding: 0 20px;
  }
}


.track {
  /* background-color: #91a3fb; */
  text-align: left;
  display: flex;
  flex-flow: column;
}

.track-img {
  flex: 1;
  text-align: center;
}

.track-img img {
  width: 100%;
}

.track-details {
  flex: 1;
  padding: 20px 30px;
}

@media (min-width: 992px) {
  .track {
    flex-flow: row;
  }
  .track-img {
    flex: 0 1  500px;
  }
  .track-details {
    flex: 1 1 auto;
  }
}

.error {
  margin-bottom: 50px;
  color: red;
}

.track-details a{
  color: #000;
}